@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Sofia+Sans:wght@100;200;300;400;500;600;700&display=swap');
/* fonts: Sofia Sans ++ Open Sans */

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(234, 234, 234);
}

.toDo-container {
    background: aqua;
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(121, 121, 121);
}

.toDo-container h1 {
    text-align: center;
    font-size: 30px;
}

/* To Do header */

.toDo-header {
    background: gold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #000;
    font-family: 'Open Sans', sans-serif;
}

.toDo-header i{
    font-size: 20px;
    color: rgb(159, 159, 159);
}

/* To Do input */

.toDo-input {
    background: greenyellow;
    display: flex;
    padding: 5px;
}

.toDo-input input {
    width: 100%;
    border: none;
    padding-left: 10px;
    height: 40px;
}

.toDo-input button {
    border: none;
}

.toDo-input i{
    font-size: 20px;
    color: rgb(159, 159, 159);
}

/* To Do list */

.todo-list {
    background: green;
    width: 93%;
    margin: auto;
}

.todo-list li{
    background: rgb(81, 81, 215);
    margin: auto;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.list-input {
    background: #000;
    padding: 30px;
}

.list-label {
    font-size: 20px;
    font-family: 'Sofia Sans', sans-serif;
}

.todo-list i{
    font-size: 20px;
    color: rgb(159, 159, 159);
}
.btn button{
    background: rgb(130, 91, 91);
    width: 100%;
    border: none;
    font-size: 25px;
    padding: 10px;
    border-top: 1px solid #000;
}

